{%extends 'base.html'%}

{% block content%}
<style>
    .abt-icon{
    font-size: 6rem;
    }

</style>
<div class="container-fluid " style="background-color: black;">
    <div class="container">
        <div class="text-center">
            <p class="fs-1">About Us</p>
        </div>
        <div class="mt-2 mb-4">
            <p class="border-bottom fs-4 mb-4">Cartering to your requirements, handling your needs with care.</p>
            <p>Our store is more than just another average online retailer. We sell not only top quality products, but give our customers a positive online shopping experience. Forget about struggling to do everything at once: taking care of the family, running your business, walking your dog, cleaning the house, doing the shopping, etc. Purchase the goods you need every day or just like in a few clicks or taps, depending on the device you use to access the Internet. We work to make your life more enjoyable.</p>
        </div>
        <div class="border-bottom fs-4">
            Store Qualities
        </div>
        <div class="row p-4 text-center">
            <div class="col-lg-4 col-md-5">
                <div><i class='bx bxs-offer abt-icon'></i></div>
                <p class="fw-bold fs-5 mt-3">Pocket Friendly</p>
                <p>Allowing you get according your budget, we think about the convenience of your choice. What’s more, you can search our site if you know exactly what you are looking for or use a bunch of different filters that will considerably save your time and efforts.</p>
            </div>
            <div class="col-lg-4 col-md-5">
                <div><i class='bx bx-trip abt-icon'></i></div>
                <p class="fw-bold fs-5 mt-3">Across the Region Delivery</p>
                <p>We deliver our goods countrywide. No matter where you live, your order will be delivered right to your door or to any other location you have stated. The packages are handled with utmost care, just like you expect them to be.</p>
            </div>
            <div class="col-lg-4 col-md-">
                <div><i class='bx bx-health abt-icon'></i></div>
                <p class="fw-bold fs-5 mt-3">Highest Quality Products</p>
                <p>To express our care to you our customers, we provide the highest quality of the products we sell and share. All items we sell pass thorough quality control, so no characteristics mismatch can escape the eye of our professionals.</p>
            </div>

        </div>

    </div>

</div>




{%endblock content%}