{% extends 'base.html'%}


{%block content%}
    <!--Home-->
    <section id="home" class="home-css">
      <div class="container-fluid position-relative body text-center">
        <h1 class="h1">Welcome to <span class="fw-bolder">Ecom Handy</span></h1>
        <p class="fs-1 ph">A <span class="vals" style="color: rgb(17, 232, 81);"></span> at the palm of your hands</p>
    </div>
    </section>
    <!--End home-->

    <!--about-->
    <section id="feature" class="bg-black feat p-4">
      <div class="head text-center">
        <h1>About</h1>
      </div>

      <div class="container-fluid position-relative w-75 rw-about">
        <div class="mb-3">
          <div class="row g-0">
            <div class="col-md-5">
              <img src="static/ecomlogo.JPG" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-7">
              <div class="card-body text-center mt">
                <h2 class="card-title fs-2">Who are we ?</h2>
                <p class="card-text who">Coming with a new style, a new look a new feel and all you could ever think of in a new era.<br><br>
                   We bring you the best of the best services and goods you could ever think of, from custom moving packages to groceries at your doorstep. Ecom Handy allows you to connect with us in a different way unique from all other similar organizations.
                  <br><br>
                  Revolutionizing your shoping experience, we give you a user intuitive and friendly interface allowing even the aged to make payments, navigate and shop to their needs.
                </p>
              </div>
              <div class="text-center">
              <div class="row mt-5">
                <p class="fs-4">The creative minds behind us</p>
                <div class="col-lg-6 col-md-6 footer-links">
                  <h4>Guav Ghardammez</h4>
                  <ul style="list-style-type: none;" class= "icons">
                    <a href="https://www.linkedin.com/in/guav-gharddammez-a25a29278?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                    <a href="https://x.com/GuavGharddammez?t=K7cBwvquRP69bm0OiuFtZw&s=09" class="twitter"><i class="bx bxl-twitter"></i></a>
                    <a href="https://github.com/Gharddammez" class="github"><i class='bx bxl-github'></i></a>
                  </ul>
                </div>
                <div class="col-lg-6 col-md-6 footer-links">
                  <h4>Ephesians Lewis</h4>
                  <ul style="list-style-type: none;" class="icons">
                    <a href="https://www.linkedin.com/in/ephesians-ochieng-okoth-a14955262/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                    <a href="https://x.com/_cooder" class="twitter"><i class="bx bxl-twitter"></i></a>
                    <a href="https://github.com/quiesscent" class="github"><i class='bx bxl-github'></i></a>
                  </ul>
                </div>
              </div>
              <div>
                <a href="https://github.com/Gharddammez/ecomhandy.git" style="text-decoration: none;">Our Project</a>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end about-->

    <!--feature-->
    <section id="about" class="abt">
      <div class="head text-center p-5">
        <h1>A glimpse of us</h1>
      </div>
      <div class="container-fluid position-relative abt-div">
        <div class="mb-5">
          <div class="row g-0">
            <div class="col-md-6">
              <img src="static/greens.jpg" class="img-fluid rounded-start img-abt" alt="...">
            </div>
            <div class="col-md-5">
              <div class="card-body glimpse">
                <h2 class="card-title">Greens and Vegies</h2><br>
                <p class="card-text">Get a taste of our finest greens and vegetables from our farms and our trusted supplies from all over the country</p>
              </div>
            </div>
          </div>
      </div>
      <div class="">
        <div class="row g-0">
          <div class="col-md-6 glimpse">
            <h2 class="card-title">In Door Deliveries</h2><br>
            <p class="card-text">Saving your the fuzz of going to the market place or comming to us, meet our trusted drivers who give you the best, fast and safe deliveries at your doorstep</p>
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <img src="static/deliver.jpg" class="img-fluid rounded-start img-abt" alt="...">
            </div>
          </div>
        </div>
      </div>

      <div class="mt-5">
        <div class="row g-0">
          <div class="col-md-6">
            <img src="static/food.jpg" class="img-fluid rounded-start img-abt" alt="...">
          </div>
          <div class="col-md-6">
            <div class="card-body glimpse">
              <h2 class="card-title">Cuisines</h2> <br>
              <p class="card-text">Especially designed for introverts, no more going out, we allow you eat while hot from our restaurants, with a special packing system designed to keep your food hot. We allow you save time and energy of cooking.</p>
            </div>
          </div>
        </div>
      </div>

      </div>
    </div>
    </section>
    <!--End feature-->
    <section id="contact">
      <div class="container-fluid position-relative text-center">


      </div>
    </section>
  {%endblock content%}