{%extends 'base.html'%}
{%block title%} ~ Product View Products{%endblock title%}
{%block head%}
<h1>Product Preview</h1>
{%endblock head%}
{%block content%}
<style>
  .img-top{
  height: 100%;
  width: 60%;
  }
</style>
<br>
<div class="container bg-transparent w-75 p-5">
    <div class="card mb-5 border p-2 border-light">
        <input type="hidden" value="{{product.id}}" class="product-id">
      <p class="mt-2 fs-3 fw-bold">Product {{product.name}} View</p>
        <div class="row g-0">
        <div class="card-img-top text-center">
          <img src="{{product.image.url}}" class="img-fluid rounded-start img-top" alt="...">
        </div>
<!--        <div class="card-body">-->
          <div class="card-body text-center">
            <h5 class="card-title">{{product.name}} Description</h5>
            <p class="card-text">{{product.description}}</p>
              <p class="card-text">{{product.category}}</p>
              {%if product.is_sale%}
              <p class="card-text">Ksh.{{product.sale_price}}/=</p>
              {%else%}
              <p class="card-text">Ksh.{{product.price}}/=</p>
              {%endif%}
              <div class="row justify-items-center">
                <div class="col-md-5">
                  <label class="col-form-label-lg">Quantity</label>
                </div>
                <div class="col-md-3">
                  <input type="number"  class=" form-control w-100 border border-success mb-2 mt-1" id="product-qty" value="1">
                </div>
              </div>

              <button type="button" value="{{prod.id}}" class="btn btn-outline-success mb-2 w-50" id="add-cart">Add to cart</button><br>
              <a class="btn btn-outline-secondary mb-2 w-50" href="{% url 'products' %}">Go back</a>
          </div>
<!--        </div>-->
      </div>
    </div>
</div>
{%endblock content%}